@import url("./global.css");

/* -------- HEADER -------- */
header{
    display: flex;  /*Alinhamento inline*/
    justify-content: space-between; /*colocar nas extremidades*/
    align-items: center;  /*colocar no centro da vertical*/
    padding: 30px; /*espaço interno*/
    border-bottom: 0.7px solid var(--color-gray3); /* borda inferior*/
}

.container-nav-header{
    display: flex; /*Alinhamento inline*/
    align-items: center; /*colocar no centro da vertical*/
    gap: 70px; /*Distancia entre os elementos*/
}

.navigation-header ul{
    display: flex; /*Alinhamento inline*/
    gap: 40px; /*Distancia entre os elementos*/
    list-style: none; /*Remove a bolinha*/     
}

.navigation-header ul li a{
    text-decoration: none; /*Decoracao do texto*/
    color: var(--color-black); /*Cor do texto*/
    font-family: var(--font-family-primary); /*Fonte*/
}

.navigation-header ul li .menu-active{
    color: var(--color-blue);
}

.btn-header{
    font-family: var(--font-family-primary); /*Fonte*/
    text-decoration: none; /*Decoração do texto*/
    background-color: var(--color-blue); /*Cor de fundo*/
    color: var(--color-white); /*Cor da fonte*/
    border-radius: 10px; /*Borda arredondada*/
    padding: 10px 20px; /*Espaço interno*/
    font-weight: var(--font-weigth-button); /*Espessura da fonte*/
    transition: 0.3s;
}

.btn-header:hover{
    background-color: #005e89;    
}


/* -------- MAIN -------- */
main{
    display: flex;  /*Alinhamento inline*/
    justify-content: center; /*Alinhar os itens no centro horizontalmente*/
    align-items: center; /*Alinhar os itens no centro verticalmente*/
    gap: 50px; /*Distancia entre os itens*/
    padding: 50px 0px; /*top e botton 50px e 0px pensando em responsividade*/
    background-color: var(--color-blue-10); /*Cor de fundo*/
}

.main-content{
    display: flex; /*Alinhamento inline*/
    flex-direction: column; /*Mudar o formato doalinhamento para coluna*/
    gap: 30px; /*Distancia entre os elementos*/
    width: 520px; /*Tamanhno maximo da div*/
    font-family: var(--font-family-primary); /*Fonte*/
}

.main-content h1{
    font-weight: var(--font-weigth-h1); /*Espessura da fonte*/
    font-size: var(--font-size-h1); /*Tamanho da fonte*/
}

.main-content span{
    color: var(--color-blue); /*Cor da fonte*/
}

.main-content p{
    font-weight: var(--font-weigth-body); /*Espessura da fonte*/
    font-size: var(--font-size-body); /*Tamanho da fonte*/
    color: var(--color-gray); /*Cor da fonte*/
    line-height: 30px; /*espaçamento entre as linhas*/
}
   
.container-cta{
    display: flex; /*Alinhamento inline*/
    gap: 10px; /*Distancia entre os itens*/
}

.btn-primary,.btn-secondary{
    text-decoration: none; /*Decoracao do texto*/
    font-weight: var(--font-weigth-button); /*Espessura da fonte*/   
    font-size: var(--font-size-button); /*Tamanho da fonte*/ 
    padding: 8px 55px; /*Espaçamento interno*/
    border-radius: 10px; /*arrendondamento da borda*/
}

.btn-primary{
    background-color: var(--color-blue); /*Cor de fundo*/
    color: var(--color-white); /*Cor da fonte*/
    transition: 0.3s;
}

.btn-primary:hover{
    background-color: #005e89;    
}

.btn-secondary{
    background-color: var(--color-white); /*Cor de fundo*/
    color: var(--color-blue); /*Cor da fonte*/
    border: 1px solid var(--color-blue); /* borda*/
    transition: 0.3s;
}

.btn-secondary:hover{
    border: 1px solid #005e89; 
    color: #005e89; 
}

/* -------- SECTION SERVICE -------- */
.container-services{
    display: flex;
    gap: 25px;
    justify-content: space-evenly;
    font-family: var(--font-family-primary);
}


.main-item p{
    font-size: var(--font-size-caption); /*Tamanho da fonte*/
    color: var(--color-gray); /*Cor da fonte*/
}
  